:root {
  --primary: #a39594;
  --secondary: #d69f1f;
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

h1 {
    display: table;
    margin: 40px auto;
    color: #fff;
    font: 30px Helvetica;
    letter-spacing: 2px;
    text-transform: uppercase;
    letter-spacing: 10px;
  }
  
  form {
    display: table;
    margin: 40px auto;
  
    input,
    textarea {
      font: 18px Helvetica, Arial, sans-serif;
      box-sizing: border-box;
      display: block;
      border: none;
      padding: 20px;
      width: 300px;
      margin-bottom: 20px;
      font-size: 18px;
      outline: none;
      transition: all 0.2s ease-in-out;
  
      &::placeholder {
        transition: all 0.2s ease-in-out;
        color: #999;
        font: 18px Helvetica, Arial, sans-serif;
      }
  
      &:focus,
      &.populated {
        padding-top: 28px;
        padding-bottom: 12px;
  
        &::placeholder {
          color: transparent;
        }
      }
    }
  
    textarea {
      height: 200px;

      button {
        transition: all 0.2s ease-in-out;
        background: var(--primary);
        border: 0;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 30px;
        padding: 10px 15px;	
        text-transform: uppercase;
        letter-spacing: 5px;
      }
  
      &:hover {
        background: #0e82d4;
        cursor: pointer;
      }
    }
  }